@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Poppins:ital,wght@1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

.w-85 {
  width: 85%;
}

.navbar-custom {
  background-color: #3e3c3c;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  color: #fff;
}

.navbar-custom .navbar-brand {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 100%;
  color: inherit;
}

.navbar-custom .nav-link {
  font-weight: 600;
  font-size: 15px;
  line-height: 133%;
  color: inherit;
}

.bg-image {
  background-image: url(../../assets/headline-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}

.headline {
  // height: 90vh;
  padding-top: 10rem;
  padding-bottom: 14rem;
}

.headline h1,
.about-me-details h2 {
  font-family: "Crete Round", sans-serif;
  color: #f55800;
}

.headline p {
  color: #f4f5f7;
}

.btn-custom {
  border: none;
  color: #fff;
  background: #f55800;
  border-radius: 0;

  &:hover {
    color: #f55800;
    background: #fff5e1;
    border: 1px solid #f55800;
  }

  &:active {
    color: #f4f1f0;
    background: #e05304;
  }

  &:visited {
    border: none;
    outline: none;
    box-shadow: none;
  }
}

.work {
  color: #091e42;

  h2 {
    font-family: 'Crete Round', sans-serif;
  }

  &-card {
    height: 70vh;
    color: #fff;

    button {
      display: none;
    }
  }

  &-card:hover {
    padding: 0;

    h3,
    p,
    ul,
    li {
      display: none;
    }

    button {
      display: block;
    }
  }

  .card-bg-1-4 {
    background-image: linear-gradient(180deg, rgba(38, 38, 38, 0) 0.85%, rgba(38, 38, 38, 0.9) 84%), url(../../assets/work-card-bg-1-4.png);
    background-repeat: no-repeat;
    background-position: 43.5% 0%;
    background-size: cover;
  }

  .card-bg-1-4:hover {
    background-image: url(../../assets/work-card-bg-1-4.png);
  }

  .card-bg-2-5 {
    background-image: linear-gradient(180deg, rgba(38, 38, 38, 0) 0.85%, rgba(38, 38, 38, 0.9) 84%), url(../../assets/work-card-bg-2-5.png);
    background-repeat: no-repeat;
    background-position: 43.5% 0%;
    background-size: cover;
  }

  .card-bg-2-5:hover {
    background-image: url(../../assets/work-card-bg-2-5.png);
  }

  .card-bg-3-6 {
    background-image: linear-gradient(180deg, rgba(38, 38, 38, 0) 0.85%, rgba(38, 38, 38, 0.9) 84%), url(../../assets/work-card-bg-3-6.png);
    background-repeat: no-repeat;
    background-position: 45% 0%;
    background-size: cover;
  }

  .card-bg-3-6:hover {
    background-image: url(../../assets/work-card-bg-3-6.png);
  }
}
